* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header {
  height: 75px;
  background-color: #222;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_left {
  padding-left: 5%;
  gap: 41px;
}
.header_right {
  padding-right: 239px;
  gap: 42px;
}

.search_icon {
  padding-left: 41px;
}

.lk_icon {
  padding-left: 25px;
}

.cart_icon {
  padding-left: 42px;
}

.crumbs {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  height: 148px;
  background-color: #F8F3F4;
}

.crumbs_h1 {
  padding-left: 230px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart {
  display: flex;
}
.cart_left_product {
  margin-top: 60px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  height: 306px;
  display: flex;
  justify-content: space-between;
}
.cart_left_product_img_self {
  width: 262px;
  height: 306px;
  background-size: cover;
}
.cart_left_product_text_title {
  padding-top: 22px;
  width: 262px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_text_settings {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_text_pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_btn {
  padding-top: 25px;
  padding-right: 22px;
}
.cart_left_btn {
  margin-top: 89px;
  cursor: pointer;
  width: 235px;
  height: 50px;
  border: 1px slid #4A4A4A;
}
.cart_left_btn_text {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_form_title {
  margin-left: 60%;
  padding-top: 50px;
  width: 135.887px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_form_input {
  margin-top: 20px;
  margin-left: 30%;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
}
.cart_right_form_btn {
  cursor: pointer;
  margin-top: 33px;
  margin-left: 105px;
  width: 101.408px;
  height: 35px;
  border: 1px solid #A4A4A4;
}
.cart_right_form_btn_text {
  justify-content: center;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_total {
  margin-top: 96px;
  margin-left: 30%;
  text-align: right;
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
}
.cart_right_total_subtitle {
  padding-top: 39px;
  padding-right: 34px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_right_total_title {
  padding-top: 12px;
  padding-right: 37px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_total_title_pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart_right_total_img {
  margin-right: 42px;
}
.cart_right_total_btn {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  cursor: pointer;
  border: none;
  margin-top: 17px;
  margin-right: 43px;
}
.cart_right_total_btn_text {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.down {
  margin-top: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 448px;
  background-color: rgba(244, 244, 244, 0.7);
}

.rate_avatar {
  padding-left: 150px;
}
.rate_text {
  padding-top: 30px;
  width: 359px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rate_part {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.form_title {
  padding-right: 0px;
  text-align: center;
  width: 557px;
  height: 61px;
}
.form_h1 {
  margin-right: 50px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form_h3 {
  margin-right: 100px;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_input {
  background-color: #E1E1E1;
  border: 0px;
  width: 322.59px;
  height: 49px;
  border-radius: 15px;
}
.form_button {
  position: relative;
  width: 115px;
  height: 49px;
  border-radius: 15px;
  border: 0px;
  background-color: #F16D7F;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  width: 100%;
  height: 79px;
}

.license {
  padding-left: 5%;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pinterest_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-left: 60%;
  height: 32px;
  background-color: #fff;
}

.twitter_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-right: 17%;
  height: 32px;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header {
  height: 75px;
  background-color: #222;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_left {
  padding-left: 5%;
  gap: 41px;
}
.header_right {
  padding-right: 239px;
  gap: 42px;
}

.search_icon {
  padding-left: 41px;
}

.lk_icon {
  padding-left: 25px;
}

.cart_icon {
  padding-left: 42px;
}

.crumbs {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  height: 148px;
  background-color: #F8F3F4;
}

.crumbs_h1 {
  padding-left: 230px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart {
  display: flex;
}
.cart_left_product {
  margin-top: 60px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  height: 306px;
  display: flex;
  justify-content: space-between;
}
.cart_left_product_img_self {
  width: 262px;
  height: 306px;
  background-size: cover;
}
.cart_left_product_text_title {
  padding-top: 22px;
  width: 262px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_text_settings {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_text_pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_left_product_btn {
  padding-top: 25px;
  padding-right: 22px;
}
.cart_left_btn {
  margin-top: 89px;
  cursor: pointer;
  width: 235px;
  height: 50px;
  border: 1px slid #4A4A4A;
}
.cart_left_btn_text {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_form_title {
  margin-left: 60%;
  padding-top: 50px;
  width: 135.887px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_form_input {
  margin-top: 20px;
  margin-left: 30%;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
}
.cart_right_form_btn {
  cursor: pointer;
  margin-top: 33px;
  margin-left: 105px;
  width: 101.408px;
  height: 35px;
  border: 1px solid #A4A4A4;
}
.cart_right_form_btn_text {
  justify-content: center;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_total {
  margin-top: 96px;
  margin-left: 30%;
  text-align: right;
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
}
.cart_right_total_subtitle {
  padding-top: 39px;
  padding-right: 34px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_right_total_title {
  padding-top: 12px;
  padding-right: 37px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart_right_total_title_pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart_right_total_img {
  margin-right: 42px;
}
.cart_right_total_btn {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  cursor: pointer;
  border: none;
  margin-top: 17px;
  margin-right: 43px;
}
.cart_right_total_btn_text {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.down {
  margin-top: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 448px;
  background-color: rgba(244, 244, 244, 0.7);
}

.rate_avatar {
  padding-left: 150px;
}
.rate_text {
  padding-top: 30px;
  width: 359px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rate_part {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.form_title {
  padding-right: 0px;
  text-align: center;
  width: 557px;
  height: 61px;
}
.form_h1 {
  margin-right: 50px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form_h3 {
  margin-right: 100px;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_input {
  background-color: #E1E1E1;
  border: 0px;
  width: 322.59px;
  height: 49px;
  border-radius: 15px;
}
.form_button {
  position: relative;
  width: 115px;
  height: 49px;
  border-radius: 15px;
  border: 0px;
  background-color: #F16D7F;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  width: 100%;
  height: 79px;
}

.license {
  padding-left: 5%;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pinterest_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-left: 60%;
  height: 32px;
  background-color: #fff;
}

.twitter_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-right: 17%;
  height: 32px;
  background-color: #fff;
}

.reg {
  display: flex;
}
.reg .left__title {
  padding-top: 64px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .left__input {
  margin-top: 20px;
  border: 1px solid #B1B1B1;
  width: 360px;
  height: 45px;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .left__checkbox {
  align-items: center;
  margin-top: 10px;
  width: 17px;
  height: 17px;
}
.reg .left__checkbox_text {
  margin-left: 5px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .left__text {
  width: 359px;
  margin-top: 15px;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .left__btn {
  cursor: pointer;
  margin-top: 39px;
  background-color: #F16D7F;
  width: 167px;
  height: 50px;
  border: none;
}
.reg .left__btn_text {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reg .left__btn_img {
  margin-left: 20px;
}
.reg .right__title {
  margin-top: 64px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .right__subtitle {
  margin-top: 22px;
  width: 652px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg .right__list {
  margin-left: 30px;
  margin-top: 21px;
  list-style-image: url(./img/reg_list_marker.svg);
}
.reg .right__list_item {
  margin-top: 16px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  width: 100%;
  height: 75px;
  background-color: #222;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header_left {
  gap: 41px;
}
.header_right {
  gap: 42px;
}

.search_icon {
  padding-left: 41px;
}

.lk_icon {
  padding-left: 25px;
}

.cart_icon {
  padding-left: 42px;
}

.crumbs {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 148px;
  background-color: #F8F3F4;
}

.crumbs_h1 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.crumbs_h3 {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.crumbs_pink_text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #F16D7F;
}

.top {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_photo {
  padding-top: 10px;
}

.middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px light grey;
  position: relative;
  width: 1141px;
  height: 601px;
}
.middle_container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle_h3_pink {
  padding-top: 64px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.middle_devider {
  width: 63px;
  height: 3.025px;
  padding-left: 540px;
  padding-top: 12.1px;
}
.middle_h2_grey {
  padding-top: 12.1px;
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.middle_grey_text {
  width: 555px;
  height: 51.431px;
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 292px;
  padding-top: 48px;
}
.middle_price {
  padding-top: 32px;
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.middle_vector {
  padding-top: 65px;
}
.middle_buttons {
  padding-left: 372px;
  padding-top: 65px;
  display: flex;
  gap: 22px;
}
.middle_buttons_text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.middle_cart_button {
  padding-top: 63px;
}
.middle_cart_button .cart_button {
  background-color: qr;
  gap: 22px;
  text-align: center;
  align-items: center;
  width: 212px;
  height: 48.406px;
}
.middle_cart_button .cart_button_text {
  padding-left: 22px;
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog {
  gap: 30px;
  width: 80%;
  padding-left: 8%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.product {
  width: 360px;
}
.product_h2 {
  padding-top: 24px;
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_text {
  padding-top: 12px;
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product_price {
  padding-top: 18px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.achiv {
  margin-top: 200px;
  gap: 30px;
  height: 341px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #222;
}
.achiv_item {
  width: 360px;
}
.achiv_item_title {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.achiv_item_text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.achiv_item1 {
  padding-left: 5%;
}
.achiv_item3 {
  padding-right: 5%;
}

.down {
  margin-top: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 448px;
  background-color: rgba(244, 244, 244, 0.7);
}

.rate_avatar {
  padding-left: 150px;
}
.rate_text {
  padding-top: 30px;
  width: 359px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rate_part {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.form_title {
  text-align: center;
  width: 557px;
  height: 61px;
}
.form_h1 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form_h3 {
  margin-right: 100px;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_input {
  background-color: #E1E1E1;
  border: 0px;
  width: 322.59px;
  height: 49px;
  border-radius: 15px;
}
.form_button {
  position: relative;
  width: 115px;
  height: 49px;
  border-radius: 15px;
  border: 0px;
  background-color: #F16D7F;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  width: 100%;
  height: 79px;
}

.license {
  padding-left: 5%;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pinterest_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-left: 60%;
  height: 32px;
  background-color: #fff;
}

.twitter_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.451px;
  margin-right: 17%;
  height: 32px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */